body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #042a2b;
    background-image: url("/imgs/classy-fabric.png");
    overflow-x: hidden;
}

p, h2, h1 {
    margin: 2px;
}

.card {
    width: calc(330px - 42px);
    height: calc(340px - 42px);
    background-color: #fbfff1;
    border-radius: 42px;
    padding: 42px;
    text-align: center;
    position: relative;
    filter: drop-shadow(16px 16px);
    z-index: initial;
    font-size: 1.1rem;
    font-family: "Julius Sans One", sans-serif;
}

.flowers {
    position: absolute;
}

.flowers-bl {
    left: -76px;
    bottom: -66px;
}

.flowers-br {
    right: -66px;
    bottom: -63px;
    transform: rotate(-9deg);
}

.flowers-tly {
    top: -66px;
    left: -66px;
    transform: rotate(10deg);
}

.flowers-tlr {
    top: 10px;
    left: -66px;
    transform: rotate(-90deg);
}

.flowers-try {
    top: 50px;
    right: -30px;
    transform: rotate(54deg);
}

.flowers-trr {
    top: -80px;
    right: -80px;
    z-index: -10;
}