body {
    margin: 0;
}
.flowers {
    position: fixed;
    max-width: 50vw;
}
.flowers-a, .flowers-b {
    top: -30px;
}
.flowers-a, .flowers-c {
    left: -30px;
}
.flowers-b, .flowers-d {
    right: -30px;
}
.flowers-c, .flowers-d {
    bottom: -30px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 90px;
    margin-bottom: 200px;
}

.menubar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
}